.language-tags
{
    float: left;
    width: CALC(100% - 20px);
    padding: 10px;
    margin: 0;
    border-radius: 0px 0px 5px 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
    min-height: 100px;
}
.language-tags .title
{
    float: left;
    width: CALC(100% - 30px);
    padding: 15px;
    font-size: 16pt;
}
.language-tags .tag-wrapper
{
    float: left;
    padding-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.language-tags .tag-wrapper span
{
    float: left;
    width: 100%;
    text-align: center;
    font-size: 10pt;
    color: #373737;
    margin-top: 10px;
    letter-spacing: 2px;
}
.language-tags .tag-wrapper .tag
{
    border-radius: 10px;
    float: left;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 4px #ccc;
    width: 100%;
    height: CALC(100% - 20px);
    box-sizing: border-box;
}

.language-tags .tag-wrapper .tag img
{
    width: 100%;
    height: 100%;
    float:left;
}

.language-tags .tag img.c-lang
{
    content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/c/c-original.svg");
}

.language-tags .tag img.bootstrap
{
    content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg");
}

.language-tags .tag img.cpp
{
    content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/cplusplus/cplusplus-original.svg");
}

.language-tags .tag img.csharp
{
    content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg");
}

.language-tags .tag img.docker
{
    content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-original-wordmark.svg");
}

.language-tags .tag img.express
{
    content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/express/express-original-wordmark.svg");
}

.language-tags .tag img.flask
{
    content: url("https://camo.githubusercontent.com/cb2324a4c0e1910089f481d56e1f887d6e96114101987dfbb6ef6f9df1e0bf08/68747470733a2f2f7777772e766563746f726c6f676f2e7a6f6e652f6c6f676f732f706f636f6f5f666c61736b2f706f636f6f5f666c61736b2d69636f6e2e737667");
}

.language-tags .tag img.html5
{
    content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg");
}

.language-tags .tag img.java
{
    content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg");
}

.language-tags .tag img.javascript
{
    content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg");
}

.language-tags .tag img.mongodb
{
    content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg");
}

.language-tags .tag img.mysql
{
    content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg");
}

.language-tags .tag img.nodejs
{
    content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg");
}

.language-tags .tag img.php
{
    content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/php/php-original.svg");
}

.language-tags .tag img.python
{
    content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg");
}

.language-tags .tag img.rabbitmq
{
    content: url("https://camo.githubusercontent.com/52efcb7f1ba0a82b322c4d1eb8d33ebe886627b405013ed2f1d1c3cf818abbeb/68747470733a2f2f7777772e766563746f726c6f676f2e7a6f6e652f6c6f676f732f7261626269746d712f7261626269746d712d69636f6e2e737667");
}

.language-tags .tag img.socketio
{
    content: url("https://raw.githubusercontent.com/devicons/devicon/55609aa5bd817ff167afce0d965585c92040787a/icons/socketio/socketio-original.svg");
}

.language-tags .tag img.react
{
    content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg");
}

.language-tags .tag img.redis
{
    content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/redis/redis-original-wordmark.svg");
}

.language-tags .tag img.scikit
{
    content: url("https://camo.githubusercontent.com/69ce21304adac467a8251181f98932e1785abd9d718cdd8edc78d1abbf2dcb49/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f302f30352f5363696b69745f6c6561726e5f6c6f676f5f736d616c6c2e737667");
}

.language-tags .tag img.tensorflow
{
    content: url("https://camo.githubusercontent.com/b861b92581ad5a7b81147073d729eda727f71985d72f3dd198e0afd792a6f9de/68747470733a2f2f7777772e766563746f726c6f676f2e7a6f6e652f6c6f676f732f74656e736f72666c6f772f74656e736f72666c6f772d69636f6e2e737667");
}

.language-tags .tag img.typescript
{
    content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg");
}

.language-tags .tag img.cakephp
{
    content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/cakephp/cakephp-original.svg");
}

.language-tags .tag img.visualstudio
{
    content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/visualstudio/visualstudio-plain.svg");
}

.language-tags .tag img.css3
{
    content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg");
}

.language-tags .tag img.sfml
{
    content: url("../images/sfml.png");
}

.language-tags .tag img.jquery
{
    content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/jquery/jquery-original.svg");
}

.language-tags .tag img.pandas
{
    content: url("../images/pandas.svg");
}

.language-tags .tag img.rstudio
{
    content: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/rstudio/rstudio-original.svg");
}
